* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
  font-family: "Worksans";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 900px;
  width: 1440px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  background-size: 1440px;
}

.card {
  width: 600px;
  height: fit-content;
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  padding: 41px;
}

.heading {
  display: flex;
}

.heading h1 {
  font-size: 50px;
  margin-left: 20px;
}

details p:nth-child(2) {
  margin-bottom: 35px;
  color: hsl(292, 16%, 49%);
  font-family: "Worksans";
  font-weight: 450;
}

details[open] summary img:nth-child(2) {
  display: block;
}

details[open] summary img:nth-child(3) {
  display: none;
}

summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
}

.question p {
  font-family: "Worksans-bold";
  cursor: pointer;
}

.question p:hover,
summary:focus-visible {
  color: hsl(281deg, 83%, 54%);
}

summary img:nth-child(2) {
  display: none;
}

summary img {
  cursor: pointer;
}

@media (max-width: 375px) or (orientation: portrait) {
  main {
    height: 812px;
    width: 375px;
  }

  .card {
    height: fit-content;
    width: 375px;
    padding: 25px;
  }

  details p:nth-child(2) {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  summary {
    height: 68px;
    font-size: 14px;
  }

  .heading h1 {
    font-size: 48px;
  }

  .heading img {
    scale: 0.96;
  }
}